<launch>

  <arg name="r1_x_pos" default="0.0"/>
  <arg name="r1_y_pos" default="0.0"/>
  <arg name="r1_z_pos" default="0.0"/>
  <arg name="r1_roll" default="0.0"/>
  <arg name="r1_pitch" default="0.0"/>
  <arg name="r1_yaw" default="0.0"/>
  
  <arg name="robot1"  default="robot_0"/>

  <arg name="map"  default="empty" doc="opt: empty"/> 

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(find servingbot_gazebo)/models/temp_world.world" if="$(eval map == 'empty')" />
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find servingbot_description)/urdf/servingbot_rl.urdf.xacro" />

  <group ns = "$(arg robot1)">

    <param name="tf_prefix" value="$(arg robot1)" />

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg robot1) -x $(arg r1_x_pos) -y $(arg r1_y_pos) -z $(arg r1_z_pos) -R $(arg r1_roll) -P $(arg r1_pitch) -Y $(arg r1_yaw) -param /robot_description" respawn="false" output="screen" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
    </node>

  </group>

</launch>
